.google-ads {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    @include devices(lg){
        padding-top: 38px;
        padding-bottom: 38px;
    }
    &__inner {
        max-width: 970px;
        margin: 0 auto;
        img {
            border-radius: 10px !important;
            min-height: 90px;
            max-height: 90px;
            object-fit: cover;
            width: 100% !important;
        }
    }
}