@mixin vivifyBtn($padding: 13px 20px) {
--#{$prefix}btn-padding-x: 30px;
--#{$prefix}btn-padding-y: 13px;
--#{$prefix}btn-font-family: #{$headings-font-family};
--#{$prefix}btn-font-size: #{$font-size-base};
--#{$prefix}btn-font-weight: 500;
--#{$prefix}btn-line-height: 20px;
--#{$prefix}btn-bg: transparent;
--#{$prefix}btn-border-width: #{$btn-border-width};
--#{$prefix}btn-border-radius: #{$btn-border-radius};

  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-appearance: none;
  width: fit-content;
  font-family: var(--#{$prefix}btn-font-family);
  font-size: var(--#{$prefix}btn-font-size);
  line-height: 1;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
  border: 1px solid $primary;
  border-radius: var(--#{$prefix}btn-border-radius) !important;
  @include devices(lg){
    padding: 14px 14px;
  }
  &:hover {
    background-color: $secondary;
    border-color: $primary;
    color: $primary;
  }
}