:root {
    --body-size: 16px;
    --body-line-height: 20px;
    --heading-size1: 28px;
    --heading-size2: 24px;
    --heading-size3: 20px;
    --heading-size4: 16px;
    --heading-size5: 14px;
    --heading-size6: 12px;
}